$bg-primary: #baa8a2;
$bg-primary-light: rgba(186,168,162,0.15);
$bg-white: #fff;
$border-primary: #baa8a2;
$border-light-grey: #eee;
$font-color-base: #5d5d5d;
$font-color-primary: #baa8a2;
$font-color-black: #333;
$font-color-white: #fff;
$font-family-jp: "Noto Serif JP";
$font-family-en: "Lato";